<div class="timeline-item">
  <!-- <div class="timeline-marker"></div> -->
  <div class="timeline-content">

    <div class="webinar-heading">
      
      <h2 class="webinar-title">{{ include.t.title }}</h2>
    </div>

    <p class="webinar-meta">
      <a href="{{include.t.registration_link}}" target="_blank">
        <strong>{{ include.t.date | date: "%b %-d, %Y" }}</strong>
        · {{ include.t.time_et }} ET
        · {{ include.t.speaker }} ({{ include.t.affiliation }})
      </a>
    </p>
    
    <div class="webinar-section speaker-bio">
      <div class="webinar-speaker-photo">
        <img src="{{ include.t.speaker_image }}" alt="{{ include.t.speaker }}"/>
      </div>
      <span class="webinar-label">{{ include.t.speaker }}</span>
      {{ include.t.speaker_bio | markdownify }}
    </div>

    <div class="webinar-section">
      <span class="webinar-label">Abstract: </span>
      {{ include.t.abstract | markdownify }}
    </div>    

    <div class="webinar-section registration-button">
      <a href="{{include.t.registration_link}}" target="_blank">Register! ↗
      </a>
    </div>

  </div>

</div>