<style>
  .yt-thumb-card{
    display: inline-flexbox; 
    text-align: center; 
    /* background-color: gainsboro;  */
    font-size: 14px; 
  }
  .yt-thumb-card .avatar{
    width:56px; 
    height:56px; 
    border-radius:50%; 
    overflow: clip;
    margin-bottom: .5em;
  }
</style>

<!--A minimal thumbnail:-->
<div class="yt-thumb-card">

  <a href="https://www.youtube.com/@StatsUpAI" target="_blank" style="">
    <img class="avatar" 
      src="https://yt3.googleusercontent.com/a9XnyV5aES9fTt4MOMrki6BGphDAUIZpDX1-6uebv03GovLZv4nLcyvgeU00atuLYlVuzEAtKcM=s160-c-k-c0x00ffffff-no-rj" 
      alt="Stats Up AI"/>
    <img 
      src="https://www.gstatic.com/youtube/img/branding/youtubelogo/svg/youtubelogo.svg" 
      alt="StatsUpAI YouTube Channel" 
      width="15%"
      style="bottom: 0;"/>
  </a>
      
  <a href="https://m.youtube.com/@StatsUpAI/videos?view=0&sort=p&shelf_id=3" target="_blank">
    <p>
      Visit <strong>StatsUpAI</strong> Channel for More
    </p>
  </a>

</div>