<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>StatsUpAI · {{ page.title }}</title>
  <link rel="icon" href="{{ site.favicon | default: '/img/logo.png' | relative_url }}" type="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="{{ '/assets/css/events.css' | relative_url }}">
</head>

<body>
  {% include events_header.html %}
  <div class="ev-body">
    <section>
      <div class="ev-header">
        <div class="ev-wrap">
          <h3>{{ page.title }}</h3>
          <nav class="ev-nav" aria-label="Events navigation">
            <!-- <a href="{{ '/events/' | relative_url }}">All Events</a> -->
            <a href="{{ '/events/webinars/#events' | relative_url }}" target="_self">All</a>
            <a href="{{ '/events/webinars/#health-data-science-series' | relative_url }}" target="_self">Health Data Science Series</a>
            <a href="{{ '/events/webinars/#genai-stats-series' | relative_url }}" target="_self">GenAI×Stats Series</a>
          </nav>
        </div>
      </div>
      <main class="ev-main">
        <div class="ev-wrap">
          <div class="ev-content">
            {{ content }}
          </div>
        </div>
      </main>
    </section>
  </div>  
  {% include asa_banner.html %}
</body>
</html>